#UMich Gitlab
Host gitlab
	HostName gitlab.com
	User jsetting
	IdentityFile ~/.ssh/id_rsa.pub

#Github
Host github
	HostName github.com
	User jsetting
	IdentityFile ~/.ssh/id_rsa.pub

#CAEN
Host mmd
	HostName login.engin.umich.edu
	User jsetting
	Compression yes	
